<h1 style="color: red;">Dashboard Intern</h1>
<mat-card *ngIf=activUser>
    <h1>Herzlich Willkommen</h1>
    <p><span style="color: #ff9900">● </span>{{ activUser }}</p>
</mat-card>

<br>
<mat-card>
  <p>
    geheim geheim geheim geheim geheim geheim geheim geheim geheim geheim geheim geheim
    geheim geheim geheim geheim geheim geheim geheim geheim geheim geheim geheim geheim
    geheim geheim geheim geheim geheim geheim geheim geheim geheim geheim geheim geheim
  </p>
</mat-card>

<br>

<app-post-list></app-post-list>
